<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style>
        .colorRed {
            color: red;
        }
        .is-loading {
            background: red;
        }
    </style>
</head>
<body>
    <div id="root">
        <input type="text" id="name" v-model="message">
        <p>The value of the input is {{ message }}</p>
        <hr>

        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
        <input type="text" v-model="newName">
        <button @click="addName">Add Name</button>
        <hr>

        <div>
            <button :title="title">Hover Over</button>
            <h1 :class="className">Hello World</h1>
            <button :class="{ 'is-loading': isLoading }" @click="toggleClass">Toggle Class</button>
            <button :disabled="isDisabled" @click="toggleDisabled">Toggle Disabled</button>
        </div>
        <hr>

        <h1>{{ reversedMessage }}</h1>
        <h2>All Tasks</h2>
        <ul>
            <li v-for="task in tasks" v-text="task.description"></li>
        </ul>
        <h2>Incomplete Tasks</h2>
        <ul>
            <li v-for="task in incompleteTasks" v-text="task.description"></li>
        </ul>
        <hr>

        <task>Do something</task>
        <task>Do nothing</task>
        <task>Do everything</task>
        <hr>

        <task-list>
            <task>Do something</task>
            <task>Do nothing</task>
            <task>Do everything</task>
        </task-list>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="./main.js"></script>
</body>
</html>