<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <input type="text" id="name" v-model="message">
        <p>The value of the input is {{ message }}</p>

        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
        <input type="text" v-model="newName">
        <button @click="addName">Add Name</button>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script>
        let data = {
            newName: '',
            message: 'Hello World',
            names: ['Ani', 'Avi', 'Amma', 'Accha']
        };

        let app = new Vue({
            el: '#root',
            data,
            methods: {
                addName() {
                    this.names.push(this.newName);
                    this.newName = '';
                }
            }
        })
    </script>
</body>
</html>